@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: "Oswald", sans-serif;
    background: linear-gradient(180deg, #000000, #1a1a1a); /* Gradient background from dark black to lighter black */
    color: white;
}

#hero {
    background-image: url('assets/black-canvas.jpg'); /* Replace with your hero image URL */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: white;
}

#hero.fade-out {
    animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

#hero h1 {
    margin-bottom: 3%;
    color: #f7931a;;
    font-family: "Shadows Into Light", cursive;    
    text-shadow: 1px 1px 0 #fff;
    width: 80%;

}

.container {
    padding: 3.5%;
    padding-top: 3%;
    padding-bottom: 0%;
}

.header-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
}

h1 {
    font-size: 5.0rem !important;
    font-family: "Shadows Into Light", cursive;
    text-shadow: 2px 2px 5px #f7931a;
}

.card {
    perspective: 1000px;
    position: relative;
    height: 210px; /* Adjust height as needed */
    border: 2px solid #f7931a;
    margin: 10px; /* Add margin to avoid overlap */
}

.card .front, .card .back {
    position: absolute;
    width: calc(100% - 4px); /* Adjust width to fit within the border */
    backface-visibility: hidden;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure full height */
    border-radius: 0.5rem; /* For rounded corners */
    color: white;
    padding: 10px; /* Add padding for content spacing */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.card .front {
    transform: rotateY(0deg);
    background-color: #1a1a1a;
}

.card.flipped .front {
    transform: rotateY(180deg);
}

.card .back {
    transform: rotateY(-180deg);
    background-color: #333333;
    color: #f7931a;
}

.card.flipped .back {
    transform: rotateY(0deg);
}

.card:hover {
    box-shadow: 0 0 10px #f7931a;
    transform: scale(1.05);
}

.card p {
    font-size: 1.5rem; /* Set font size to 0.8rem */
    text-align: center;
    margin: 0; /* Remove default margin */
    padding: 5px; /* Add padding to avoid text touching the edges */
    overflow: hidden; /* Ensure text doesn't overflow */
    word-break: break-word; /* Break words if too long */
    letter-spacing: 0.5px;
}

.back p {
    font-size: 1.2rem;
}

#copy-notification {
    opacity: 0;
    transition: opacity 0.3s;
}

.twitter {
    color: #1DA1F2;
}

.bitcoin {
    color: #f7931a;;
}

.split {
    color: grey;
    font-size: 1.1rem;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1 !important;
}

.tgfb {
    margin-left: 2%;
}

footer {
    width: 100%;
    text-align: center;
    font-family: "Shadows Into Light", cursive;
    padding-bottom: 3%;
}

footer p {
    display: inline-block;
    font-size: 2rem;
}

fotter a:first {
    margin-right: 20px;
}

/* media queries */

/* Media query for large-sized phones */
@media (min-width: 375px) and (max-width: 916px) {
    h1 {
        font-size: 2.5rem;
    }

    .container h1 {
        font-size: 3rem !important;
        line-height: 3.5rem !important;
    }

    .card {
        height: 180px;
        margin: 8px;
    }

    .card p {
        font-size: 1.2rem;
    }

    .back p {
        font-size: 0.7rem;
    }

    #hero h1 {
        line-height: 62px;
        letter-spacing: 2px;
        font-size: 3rem !important;
    }
}